flows.json
[
    {
        "id": "ae54c1762742479f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f6050d0df5ac03c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4e5be2a4a420081",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "947f6061cca48ee1",
        "type": "ui_group",
        "name": "Default",
        "tab": "7f6050d0df5ac03c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "abc6662c60265774",
        "type": "inject",
        "z": "ae54c1762742479f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Stephany",
        "payloadType": "str",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "48d4173a260e6790"
            ]
        ]
    },
    {
        "id": "ce49efb85e6d4e71",
        "type": "debug",
        "z": "ae54c1762742479f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "48d4173a260e6790",
        "type": "http request",
        "z": "ae54c1762742479f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-23.5325&lon=-46.7917&appid=a669c7581a465a7a7c6ca5cea61e378f&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "b9ea31b3ef1daddc"
            ]
        ]
    },
    {
        "id": "b9ea31b3ef1daddc",
        "type": "json",
        "z": "ae54c1762742479f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "04ce810910c2c6a9",
                "e41776776d2c0787",
                "8b9262a3791663fa",
                "b250515ef06cbfad"
            ]
        ]
    },
    {
        "id": "04ce810910c2c6a9",
        "type": "change",
        "z": "ae54c1762742479f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "ce49efb85e6d4e71",
                "6319665a9ad7847a"
            ]
        ]
    },
    {
        "id": "e41776776d2c0787",
        "type": "change",
        "z": "ae54c1762742479f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "ce49efb85e6d4e71",
                "aaf4f447e6704ca6"
            ]
        ]
    },
    {
        "id": "6319665a9ad7847a",
        "type": "ui_gauge",
        "z": "ae54c1762742479f",
        "name": "",
        "group": "947f6061cca48ee1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#e64141"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "aaf4f447e6704ca6",
        "type": "ui_gauge",
        "z": "ae54c1762742479f",
        "name": "",
        "group": "947f6061cca48ee1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#b3009b",
            "#2d44b9",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "8b9262a3791663fa",
        "type": "change",
        "z": "ae54c1762742479f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "ce49efb85e6d4e71",
                "f0935903d56735a4"
            ]
        ]
    },
    {
        "id": "f0935903d56735a4",
        "type": "ui_gauge",
        "z": "ae54c1762742479f",
        "name": "",
        "group": "947f6061cca48ee1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura minima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#00e6a1",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 440,
        "wires": []
    },
    {
        "id": "b250515ef06cbfad",
        "type": "change",
        "z": "ae54c1762742479f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 520,
        "wires": [
            [
                "ce49efb85e6d4e71",
                "cf837cba3b6aff79"
            ]
        ]
    },
    {
        "id": "cf837cba3b6aff79",
        "type": "ui_gauge",
        "z": "ae54c1762742479f",
        "name": "",
        "group": "947f6061cca48ee1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade do Vento",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#163260",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 520,
        "wires": []
    }
]